$primary-color: #000;
$secondary-color: #ffffff;
$text-color: #ffffff;
$hover-color: #2980b9;
$btn-primary-bg: #ffffff;
$btn-primary-text: #3498db;
$btn-primary-hover-bg: #ecf0f1;
$btn-secondary-bg: #fff;
$third-color: #EEEEEE;
$input-bg-color: #888888;
$menu-active-bg: #333; 

.containerX {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden; 
    .header {
        background-color: $primary-color;
        color: $text-color;
        padding: 10px 0;
        width: 100%;
        .icon {
            padding-right: 0px;
            padding-left: 10px;
            position: relative;
            top: -10px;
        }
    
        .container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            max-width: 100%;
        }
        .logo {
            font-size: 24px;
            font-weight: bold;
            border-right: 1px solid;
            padding-right: 15px;
            height: 100%;
    
            a {
                color: $text-color;
                text-decoration: none;
            }
        }
    
        .nav {
            a {
                color: $text-color;
                text-decoration: none;
                font-size: 14px;
            }
    
            .menu {
                background-color: #000 !important; // Nền đen
                color: #fff !important; // Chữ trắng
                display: flex;
                position: absolute;
                top: -1px;
    
                .ant-menu-item a {
                    color: #fff !important; // Chữ trắng trong các mục menu
    
    
                }
    
                .ant-menu-item-active,
                .ant-menu-item-selected {
                    a {
                        color: #fff !important; // Màu chữ khi mục được chọn
                    }
                }
            }
    
            .logo {
                color: #fff !important; // Màu logo
                text-decoration: none;
                position: relative;
                top: -10px;
            }
        }
    
        .navright {
            display: flex;
            position: relative;
            left: 220px;
            letter-spacing: 15px;
    
            .iconNav {
                padding-right: 10px;
                position: relative;
                top: -10px;
            }
        }
    }
    
    .main {
        background-color: $third-color;
        padding-bottom: 30px;
        width: 100%;
        .tieude {
            font-size: 24px;
            font-weight: 600;
        }
    
        .main_head {
            padding: 30px;
        }
    
        .main-content {
            display: grid;
            margin: 0 auto;
            gap: 30px;
            width: 95%;
            padding-top: 15px;
            grid-template-columns: 2.5fr 2fr;
            background-color: $secondary-color;
            box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
    
            .main-content-title {
                margin-left: 10px;
                padding-left: 10px;
    
                .form-input-search {
                    padding: 10px;
                    width: 98%;
                    background-color: #e0e0e0;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    input {
                        background-color: #e0e0e0; // Màu nền xám
                        color: #888; // Màu chữ xám
                        border: none; // Không có viền
                        padding: 0; // Xóa khoảng trắng bên trong
                        height: 20px;
    
                        // Placeholder
                        &::placeholder {
                            color: #aaa; // Màu placeholder xám nhạt
                        }
    
                        // Biểu tượng prefix
                        .ant-input-prefix {
                            color: #e0e0e0; // Màu của icon xám
                        }
    
                        &:focus {
                            background-color: #e0e0e0; // Màu nền khi focus
                            box-shadow: none; // Không có viền nổi bật khi focus
                        }
                    }
    
                    // Xóa khoảng trắng xung quanh input
                    .ant-input-affix-wrapper {
                        padding: 0;
                        background-color: #e0e0e0;
                        border: none;
    
                        &:focus-within {
                            border: none; // Bỏ viền khi focus vào input hoặc icon
                            box-shadow: none; // Bỏ đổ bóng khi focus
                        }
                    }
                }
            }
    
            .main-content-right {
                .form-input-search {
                    padding: 10px;
                    width: 95%;
                    background-color: #e0e0e0;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    input {
                        background-color: #e0e0e0; // Màu nền xám
                        color: #888; // Màu chữ xám
                        border: none; // Không có viền
                        padding: 0; // Xóa khoảng trắng bên trong
                        height: 20px;
    
                        // Placeholder
                        &::placeholder {
                            color: #aaa; // Màu placeholder xám nhạt
                        }
    
                        // Biểu tượng prefix
                        .ant-input-prefix {
                            color: #e0e0e0; // Màu của icon xám
                        }
    
                        &:focus {
                            background-color: #e0e0e0; // Màu nền khi focus
                            box-shadow: none; // Không có viền nổi bật khi focus
                            border: none;
                        }
                    }
    
                    // Xóa khoảng trắng xung quanh input
                    .ant-input-affix-wrapper {
                        padding: 0;
                        background-color: #e0e0e0;
                        border: none;
    
                        &:focus-within {
                            border: none; // Bỏ viền khi focus vào input hoặc icon
                            box-shadow: none; // Bỏ đổ bóng khi focus
                        }
                    }
                }
            }
    
            .main-content-left {
                border-right: 1px solid;
            }
    
            .span {
                font-size: 20px;
                font-weight: 500;
            }
    
            // Ant Design table for left side
            .table-left {
                width: 100%;
    
                .ant-table-cell {
                    padding: 10px 10px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                }
    
                .ant-table-thead>tr>th {
                    background-color: $third-color;
                    font-weight: bold;
                }
            }
    
            // Ant Design table for right side
            .table-right {
                width: 100%;
                margin-top: 5px;
    
                .ant-table-cell {
                    padding: 8px;
                    text-align: left;
                    border-bottom: 1px solid #ddd;
                }
    
                .ant-table-thead>tr>th {
                    background-color: $third-color;
                    font-weight: bold;
                }
            }
        }
        .main-footer {
            width: 95%;
            margin: 0 auto;
            box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            margin-top: 25px;
            background-color: $secondary-color;
            padding-left: 10px;
            padding-top: 10px;
    
            .span {
                font-size: 20px;
                font-weight: 500;
            }
    
            .main-footer-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                padding: 0 20px;
    
                .main-footer-content-right {
                    display: flex;
                    justify-content: flex-end; // Đẩy nội dung sát vào lề phải
                    align-items: center; // Căn giữa nội dung theo chiều dọc
                }
    
                .addPam {
                    margin-right: 5px;
    
                    button {
                        border: none;
                        height: 30px;
                        width: 150px;
                        font-size: 14px;
                        padding-right: 5px;
                        border: 1px solid;
                        background-color: #0000FF;
                        color: #fff;
    
                        &:active {
                            background-color: #0000FF;
                        }
    
                        .icons {
                            padding-left: 40px;
                        }
                    }
                }
            }
    
            .main-footer-content-left {
                display: flex;
                align-items: center;
                justify-content: flex-start;
    
                div {
                    margin-right: 5px; // Tạo khoảng cách nhỏ giữa icon và chữ
                }
    
                .main-eye {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 10px;
                    color: blue;
                }
    
                .ant-select {
                    .ant-select-selector {
                        color: blue;
                        border: none; 
                        box-shadow: none; 
                    }
    
                    .ant-select-item {
                        color: blue; // Màu văn bản của các item trong dropdown
                    }
    
                    .ant-select-item-option-content {
                        color: blue; // Màu văn bản của các option trong dropdown
                    }
                }
            }
        }
        table {
            width: 100%;
    
            .id {
                color: #0000FF;
            }
    
            .ant-table-cell {
                padding: 5px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }
            .ant-table-thead > tr > th {
                background-color: #f0f0f0; // Màu nền xám cho các tiêu đề bảng
                color: #000; // Màu văn bản của tiêu đề, có thể tùy chỉnh nếu cần
                border-bottom: 1px solid #ddd; // Viền dưới của tiêu đề bảng
            }
        }
    }
}

