.add-product-container {
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    background-color: #f5f5f5;
    /* Màu nền để làm nổi bật form */
    h2 {
        padding-left: 13px;
        padding-top: 10px;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .add-product-form {
        /* Đường viền nhẹ xung quanh */
        background-color: #fff;
        /* Màu nền trắng cho form */
        padding: 20px;
        /* Khoảng cách bên trong form */
        border-radius: 8px;
        /* Bo tròn các góc */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Đổ bóng cho form */
        width: 100%;
        max-width: 500px;
        margin-top: 40px;
        margin-bottom: 20px;
        /* Giới hạn chiều rộng tối đa của form */
        /* Để form có nền mờ */
        .ant-form-item {
            margin-bottom: 16px;

            label {
                font-weight: 500;
                font-size: 14px;
            }

            input,
            .ant-select-selector,
            .ant-picker {
                border-radius: 5px;
                height: 40px;
            }

            .ant-select-selector {
                display: flex;
                align-items: center;
            }

            input[type="number"] {
                width: 100%;
                padding: 8px;
            }
        }

        .ant-picker {
            width: 100%;
        }

        .ant-btn-primary {
            width: 100%;
            background-color: #1890ff;
            border-color: #1890ff;
            height: 45px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: 5px;
            margin-top: 10px;

            &:hover {
                background-color: #40a9ff;
                border-color: #40a9ff;
            }
        }
    }
}